<% content_for :head_tag do%>
    <script type="text/javascript">
      $(function(){
          $("#due_date").datepicker();
      });
    </script>
<% end %>

<%= form_for([@todo_list, @todo_item]) do |f| %>
    <% if @todo_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

          <ul>
            <% @todo_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table>
      <tbody>
      <tr>
        <td class="field_name"><%= f.label :entry %></td>
        <td class="entry_field"><%= f.text_field :entry %></td>
      </tr>
      <tr>
        <td class="field_name"><%= label_tag "Due Date Required?" %></td>
        <td class="entry_field"><%= check_box_tag "date_required", "Y" %></td>
      </tr>
      <tr>
        <td class="field_name"><%= f.label :due_date %></td>
        <td class="entry_field"><%=  f.text_field :due_date, :id => "due_date" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= f.submit submit_text %></td>
      </tr>
      </tbody>
    </table>
    
    <%= f.hidden_field :todo_list_id %>
<% end %>
