<% if todo_items.empty? %>
    <p>Wow! You're all done here!</p>
<% else %>

    <ol>
      <% todo_items.sort.each do |todo_item| %>
          <% if todo_item.complete %>
              <li>
                <span class="complete"><%= todo_item.entry %></span>
                <%= link_to "Destroy",
                            todo_list_todo_item_path(todo_item.todo_list, todo_item),
                            confirm: 'Really destroy the proof of your accomplishments?',
                            method: :delete
                %>
              </li>
          <% else %>
              <li>
                <%= todo_item.entry %>
                <%= "-- DUE: #{todo_item.due_date}" if todo_item.due_date %>
                <%= link_to "Complete", complete_todo_list_todo_item_path(todo_item.todo_list, todo_item),
                            :method => :put,
                            :id => "complete_#{todo_item.id}" %> |
                <%= link_to "Edit", edit_todo_list_todo_item_path(todo_item.todo_list, todo_item),
                            :id => "edit_#{todo_item.id}"
                %>
              </li>
          <% end %>
      <% end %>
    </ol>
<% end %>