<section id="todo_list">
  <article>
    <header>
      <h1><%= @todo_list.title %></h1>
      <h5><%= link_to "Add a new To-Do", new_todo_list_todo_item_path(@todo_list) %></h5>
    </header>
    <p>Things to get done:</p>
    <%= render :partial => 'todo_items/list', locals: {todo_items: @todo_list.todo_items} %>
    <footer>
      <%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
      <%= link_to 'Destroy', @todo_list, confirm: 'Really?!? Just going to quit like that?', method: :delete %> | 
      <%= link_to 'Clean Up', clean_todo_list_path(@todo_list), method: :put, confirm: 'Really clean up all proof that you do stuff?' %>
    </footer>
  </article>
</section>
